extends ../layout.jade

block title
  title Tavlen

block content
  div.board
    div.row
      div.column.medium-4
        div.board__sidebar
          span.board__income Din inntekt: #{income}
      div.column.medium-8
        div.board__main
        
