body {
  font-family: 'Ubuntu', sans-serif;
  font-size: $gutter;

  input,
  button,
  a,
  label, {
    font-family: 'Ubuntu', sans-serif;
    font-size: $gutter;
  }
}

.active-money-hover {
  border: 2px solid $black;
}
