.board {

  &__section {
    background-image: url('/images/board.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;

    .bill {
      width: 110px;
    }
  }

  &__section-name {
    font-family: 'Just Another Hand', cursive;
    color: $white;
    font-size: 2.5rem;
    letter-spacing: 3px;
    text-align: center;
    border-bottom: 2px solid white;
  }
}
