.board {

  &__section {
    background-image: url('/images/board.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;

    .bill {
      width: 110px;
    }
  }
}
