.button {
  @include transition(.1s ease-in-out);
  outline: none;
  border: none;

  cursor: pointer;

  &--noair {
    background: $white;
    color: $black;
    padding: 0;

    &:hover {
      color: darken($green-fill, 30%);
    }
  }
}
