.income {
  display: table;
  width: 100%;

  &__form {
    display: table-cell;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
  }

  &__title {
    font-weight: 300;
  }

  &__logo {
    display: block;
    margin: 0 auto;
    width: 100px;
  }

  &__input {
    @include transition(.1s ease-in-out);
    border: 2px solid $black;
    border-radius: 30px;
    font-size: $gutter * 1.3;
    height: 60px;
    padding-left: $gutter;
    width: 400px;

    @media only screen and (max-width: 500px) {
      width: 80vw;
    }

    &:focus {
      outline: none;
      width: 450px;

      @media only screen and (max-width: 500px) {
        width: 90vw;
      }
    }
  }

  &__err {
    color: $error-color;
    display: block;
    padding-top: $gutter;
  }

  &__submit {
    background: $white;
    border: 0;
    cursor: pointer;
    font-size: $gutter * 1.5;
    outline: none;
  }
}
