.income {
    display: table;
    width: 100%;

  &__form {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100vh;
  }

  &__title {
    font-weight: 300;
  }

  &__logo {
    width: 100px;
    display: block;
    margin: 0 auto;
  }

  &__input {
    @include transition(.1s ease-in-out);
    width: 400px;
    height: 60px;
    font-size: $gutter * 1.3;
    padding-left: $gutter;
    border: 2px solid $black;
    border-radius: 30px;

    @media only screen and (max-width: 500px) {
      width: 80vw;
    }

    &:focus {
      outline: none;
      width: 450px;

      @media only screen and (max-width: 500px) {
        width: 90vw;
      }
    }
  }

  &__err {
    display: block;
    padding-top: $gutter;
    color: $error-color;
  }

  &__submit {
    border: none;
    background: $white;
    cursor: pointer;
    font-size: $gutter * 1.5;
    outline: none;
  }
}
