.header {
  background: $primary-color;
  padding: $gutter 0.8;

  &__branding {
    font-family: 'Just Another Hand', cursive;
    color: lighten($primary-color, 30%);
    text-decoration: none;
    font-size: $gutter * 2.5;
    letter-spacing: 4px;
    position: relative;
    top: 5px;
  }
}
