.opts {

  &__income {
    font-size: $gutter;
    float: left;
  }

  &__income-current {
    font-size: $gutter * 3;
    vertical-align: middle;
    border-right: 2px solid $black;
    padding-right: $gutter;
  }

  &__bills {
    float: right;

    .bill {
      cursor: pointer;
      margin: 15px 10px;
      width: 100px;
      z-index: 100;
      position: relative;

      &:hover {
        box-shadow: 2px 2px 5px $primary-color;
      }
    }
  }

  .new-board {
    margin: 30px;
  }
}
